@import url(//db.onlinewebfonts.com/c/060e116a70e3096c52db16f61aaab194?family=Sofia+Pro);
                
html,
body {
  padding: 0;
  margin: 0;
  font-family: serif;
  background-color: black;
  
font-family: "Sofia Pro";
/*font-family: 'Poppins', sans-serif;*/
                                                
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
